<div id="detalhe-container">
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets\img\vagas\{{vaga.foto}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Codigo da Vaga: {{vaga.id}}</h5>
        <h5 class="card-title">{{vaga.nome}}</h5>
        <p class="card-text">{{vaga.descricao}}</p>
        <p class="card-text">Salário: R${{vaga.salario}}</p>
        <a class="btn btn-primary" routerLink="/" role="button">Voltar</a>
      </div>
  </div>
</div>